HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### submodule ###
/mvnw.cmd
/mvnw
/.mvn/
/spot-common/**/.mvn/
/spot-common/**/mvnw
/spot-common/**/mvnw.cmd
/spot-common/**/.gitignore
/spot-admin/**/.mvn/
/spot-admin/**/mvnw
/spot-admin/**/mvnw.cmd
/spot-admin/**/.gitignore